/*ARCHIVOS EXTERNOS*/
@import 'variables/_colors.scss';
@import 'mixins/_links.scss';
@import 'variables/_typography.scss';
@import 'mixins/_flex.scss';
@import 'mixins/_button.scss';
@import 'tables/_table.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 20px;
  background: $barra-nav-color;
  font-family: $barra-nav;
  @include flex(row, space-between, center);

  .logo{
    a{
      @include link($texto-oscuro, $barra-logo);
      &:hover{
        @include link-hover;
      }
    }
  }

  .sesion{
    @include flex(row, space-around, center);

    .btn{
      @include button;
      @include link($texto-oscuro, $barra-nav);
      display: inline-block;
      margin: 0 10px;

      &:hover{
        @include hover-button(#635959, #FFFFFF);
      }
    }

    .nav-routes{
      @include flex(row, space-between, center);
      margin: 0 40px;

      .link{
        padding: 10px;
        @include link($texto-oscuro, $barra-nav);

        &:hover{
          @include link-hover;
        }
      }
    }

    .user-sesion{
      @extend .nav-routes;
      margin: 0 0 0 10px;

      .userName{
        font-family: Arial;
        color: $texto-oscuro;
        padding: 5px;
        margin-right: 10px;
      }
    }

    .btn-load{
      @include border-button(#21E712);

      &:hover{
        @include hover-button(#21E712, $texto-oscuro);
      }
    }

    .btn-get-in{
      @include border-button(#6D35AD);

      &:hover{
        @include hover-button(#6D35AD, $texto-oscuro);
      }
    }
  }
}

.contenedor{
  width: 400px;
  margin: 110px auto 0 auto;
  border: 1px solid $bordes;
  border-radius: 6px;
  @include flex(column, space-around, center);

  .form-header{
    width: 100%;
    background: $footer;
    color: $texto-oscuro;
    font-family: $barra-logo;
    font-size: 1.5em;
    text-align: center;
    @include flex(row, center, center);
  }

  .flex-columna{
    width: 100%;
    padding: 30px 0;
    @include flex(column, space-evenly, center);

    .flex{
      width: 100%;
      margin: 10px 0;
      font-size: 1.3em;
      @include flex(column, space-between, center);

      label, input{
        margin: 5px 0;
        font-family: $sitio;
      }

      .inputs{
        padding: 7px 20px;
        border: 1px solid #CCC;
        border-radius: 5px;
        background: none;
        color: $texto-claro;
        font-size: 1em;
        text-align: center;

        &:focus{
          border-radius: 5px;
          border: 1px solid #CCC;
          box-shadow: 0 1px 4px $hover; 
        } 
      }
    }

    .btn{
      @include button;
      @include edit-button(#5DA01C, $texto-oscuro);

      &:hover{
        @include hover-button(#66C21B, $texto-oscuro);
      }
    }
  }
}

footer{
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  background: $footer;
  color: $texto-oscuro;

  p{
    font-family: $sitio;
    text-align: center;
    font-size: 1.5ex;
  }
}

.div{
  @include flex(column, space-around, center);

  header{
    @include flex(row, space-around, center);
    background: $barra-nav-color;
    color: $texto-oscuro;
    font-family: $barra-logo;
    text-align: center;

    a{
      @include button;
      @include border-button($bordes);
      @include link($bordes, $barra-nav);
      position: absolute;
      left: 100px;
      display: blocK;

      &:hover{
        @include hover-button($bordes, $texto-claro);
      } 
    }
  }

  & > .btn-create{
    margin-top: 40px;
    @include button;
    @include edit-button(#38457B, $texto-oscuro);
    @include link($texto-oscuro, $sitio);

    &:hover{
      @include hover-button(#3A5578, $texto-oscuro);
    }
  }

  .btn-edit{
    @include button;
    @include border-button(#ECE90F);
    @include link(#ECE90F, $sitio);

    &:hover{
      @include hover-button(#ECE90F, $texto-oscuro);
    }
  }

  .btn-delete{
    @include button;
    @include border-button(#EF0E0E);
    @include link(#EF0E0E, $sitio);

    &:hover{
      @include hover-button(#EF0E0E, $texto-oscuro);
    }
  }

  .btn-group{
    display: block;
    padding: 20px;

    .btn{
      display: block;
      @include button;
      margin: 0 10px;
    }

  }

  .flex{
    @include flex(row, space-evenly, center);
    margin-top: 20px;

    .btn-edit{
      @include button;
      @include border-button(#ECE90F);
      @include link(#ECE90F, $sitio);

      &:hover{
        @include hover-button(#ECE90F, $texto-oscuro);
      }
    }

    .btn-pass{
      @include button;
      @include border-button(#EE1620);
      @include link(#EE1620, $sitio);

      &:hover{
        @include hover-button(#EE1620, $texto-oscuro);
      }
    }
  }
}

