/*Boton generico*/
@mixin button{
  background: #7E8385;
  color: $texto-oscuro;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

/*Botones personalizados*/
@mixin edit-button($background, $color){
  background: $background;
  color: $color;
}

@mixin border-button($background){
  background: none;
  border: 1px solid $background;
  color: $background;
}

@mixin hover-button($background, $color){
  background: $background;
  border: 1px solid $background;
  box-shadow: 0 1px 4px $hover;
  color: $color;
}