table{
  margin-top: 80px;
  border: none;
  background: #fefefe;
  width: 800px;

  tr{
    border-bottom: 1px solid $bordes;
    @include flex(row, space-around, center);

    &:hover{
      box-shadow: 0 1px 4px $hover;
    }

    th, td{
      display: block;
      text-align: center;
      color: $texto-claro;
      padding: 10px;
      margin: 0;
      width: 80px;

    }
  }

}