/*ARCHIVOS EXTERNOS*/
/*Colores para la web en general*/
/*Elementos interactivos*/
/*Boton generico*/
/*Botones personalizados*/
table {
  border: none;
  background: #fefefe;
}
table tr {
  border-bottom: 1px solid #D2C7C7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
table tr:nth-child(2n) {
  background: #B0DFE5;
}
table tr th, table tr td {
  text-align: center;
  color: #000000;
}
table tr th:hover, table tr td:hover {
  box-shadow: 0 1px 4px #7289da;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px;
  background: #2c2f33;
  font-family: monospace;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: fantasy;
}
header .logo a:hover {
  text-decoration: underline;
  text-shadow: 0 1px 4px #7289da;
}
header .sesion {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
header .sesion .btn {
  background: #7E8385;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: monospace;
  display: inline-block;
  margin: 0 10px;
}
header .sesion .btn:hover {
  background: #635959;
  border: 1px solid #635959;
  box-shadow: 0 1px 4px #7289da;
  color: #FFFFFF;
}
header .sesion .nav-routes, header .sesion .user-sesion {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
header .sesion .nav-routes .link, header .sesion .user-sesion .link {
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: monospace;
}
header .sesion .nav-routes .link:hover, header .sesion .user-sesion .link:hover {
  text-decoration: underline;
  text-shadow: 0 1px 4px #7289da;
}
header .sesion .user-sesion {
  margin: 0 0 0 10px;
}
header .sesion .user-sesion .userName {
  font-family: Arial;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 10px;
}
header .sesion .btn-load {
  background: none;
  border: 1px solid #21E712;
  color: #21E712;
}
header .sesion .btn-load:hover {
  background: #21E712;
  border: 1px solid #21E712;
  box-shadow: 0 1px 4px #7289da;
  color: #FFFFFF;
}
header .sesion .btn-get-in {
  background: none;
  border: 1px solid #6D35AD;
  color: #6D35AD;
}
header .sesion .btn-get-in:hover {
  background: #6D35AD;
  border: 1px solid #6D35AD;
  box-shadow: 0 1px 4px #7289da;
  color: #FFFFFF;
}

.contenedor {
  width: 400px;
  margin: 110px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.contenedor .form-header {
  width: 100%;
  background: #23272a;
  color: #FFFFFF;
  font-family: fantasy;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.contenedor .flex-columna {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor .flex-columna .flex {
  width: 100%;
  margin: 10px 0;
  font-size: 1.3em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.contenedor .flex-columna .flex label, .contenedor .flex-columna .flex input {
  margin: 5px 0;
  font-family: sans-serif;
}
.contenedor .flex-columna .flex .inputs {
  padding: 7px 20px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: none;
  color: #000000;
  font-size: 1em;
  text-align: center;
}
.contenedor .flex-columna .flex .inputs:focus {
  border-radius: 5px;
  border: 1px solid #CCC;
  box-shadow: 0 1px 4px #7289da;
}
.contenedor .flex-columna .btn {
  background: #7E8385;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 6px;
  background: #5DA01C;
  color: #FFFFFF;
}
.contenedor .flex-columna .btn:hover {
  background: #66C21B;
  border: 1px solid #66C21B;
  box-shadow: 0 1px 4px #7289da;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
